# version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "9000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - ollama-n8n-network

  pgsql:
    image: postgres:15
    container_name: pgsql-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpassword
      POSTGRES_DB: database
    volumes:
      - pgsql_data:/var/lib/postgresql/data
    networks:
      - ollama-n8n-network

  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n2
    environment:
      N8N_BASIC_AUTH_ACTIVE: "true"
      N8N_BASIC_AUTH_USER: "admin"
      N8N_BASIC_AUTH_PASSWORD: "adminpass"
      DB_TYPE: "postgres"
      DB_POSTGRES_HOST: "pgsql-db"
      DB_POSTGRES_PORT: "5432"
      DB_POSTGRES_DATABASE: "database"
      DB_POSTGRES_USER: "pguser"
      DB_POSTGRES_PASSWORD: "pgpassword"
    networks:
      - ollama-n8n-network
    depends_on:
      - pgsql

networks:
  ollama-n8n-network:
    external: true

volumes:
  ollama:
  n8n_data:
  pgsql_data:


