#version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "9000:80"
    volumes:
      # keep using your custom config
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - ollama-n8n-network

networks:
  ollama-n8n-network:
    external: true      # <-- Compose will *not* create it, you will



volumes:
  ollama:
  n8n_data: