# Core web framework and server
fastapi
uvicorn[standard]==0.29.0
python-multipart

# For AI/ML models (TTS, STT, Image Captioning)
torch==2.7.1
transformers==4.50.0
chatterbox-tts
soundfile
git+https://github.com/openai/whisper.git

# For image processing and HTTP requests
pytesseract
Pillow
requests
google-generativeai
#fiixed it
# Security fixes
setuptools==78.1.1
sentencepiece

