[defaults]
inventory = inventory/inventory.ini
private_key_file = ~/.ssh/control_node_homeserver
host_key_checking = False
remote_user = dulc3

[privilege_escalation]
become = True
become_method = sudo
become_user = root
